.div {
  width: 100%; // Tam genişlik
  height: 242px;
  position: relative;
  top: 0; // Yukarıdan boşluk bırakmamak için
  gap: 0;
  background-color: #242441;
  display: flex; // İçeriği yan yana yerleştirmek için
  align-items: center; // Dikey ortalamak için
}
.logo {
  width: 80px;  // Genişlik
  height: 115px; // Yükseklik
  position: absolute; // Üstten konumlandırma
  bottom: 90px;     // Yukarıdan konumu artırarak üstteki header ile mesafeyi aç
  left: 51px;     
  opacity: 1;    
}
.etiya-logo {
  width: 183px;  // Yeni genişlik
  height: 61px;  // Yeni yükseklik
  position: absolute; // Üstten konumlandırma
  top: 69px;  // Yukarıdan konum
  left: 190px; // Soldan konum
  opacity: 1;    
}

.search-button, .create-button {
  width: 260px; // Genişlik
  height: 41px; // Yükseklik
  position: absolute; 
  top: 180px; // Yukarıdan konum
  border-radius: 10px; // Oval köşe için
  opacity: 1; // Görünürlük
  color: #003366; // Koyu lacivert yazı rengi
  font-size: 16px; // Yazı boyutu (büyüt)
  font-weight: bold; // Yazıyı kalın yap
}

.search-button {
  left: 51px; // Soldan konum
  margin-right: 10px; // Sağ tarafına boşluk ekle
}

.create-button {
  left: 318px; // Sağdan konum
}