.hv-100 {
  height: 100vh;
  display: flex;
  background: linear-gradient(to right, #2B2B56, #242441, #BEBDCD);

}

.logo-container {
  margin-right: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {}

.form-signin {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.form-floating {
  position: relative;
  padding-left: 40px;
}