.hv-100 {
  height: 100vh;
  display: flex;
  background: linear-gradient(to right, #2B2B56, #242441, #BEBDCD);
}

.logo-container {
  margin-right: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
    width: 210px;
    height: 40px;
    position: absolute;
    right: 150px;
    border-radius: 25px; /* Kenar yuvarlatma */
    padding: 10px 20px; /* İç boşluk ekle */
    background-color: #242441; /* Buton rengi */
    border: none; /* Kenar kaldır */
    margin-top: 30px;
}
.form-signin {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.form-floating {
  position: relative;
  padding-left: 40px;
  margin-bottom: 20px;
}

label {
  color: white;
  transition: 0.2s; 
}

.etiya-img {
  margin-left: 180px;
  width: 311px; 
  height: 103px;
  top: 239px;
  left: 700px;
  gap: 0px;
  opacity: 0px;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.forgot-password {
  display: block;
  color: white;
  margin-left: 30px;
  padding-bottom: 40px;
}