<div class="hv-100 d-flex justify-center align-items-center">
  <div class="logo-container">
    <img src="../../../../assets/images/Logo.png" alt="Logo" />
  </div>

  <form [formGroup]="form" (submit)="submitForm()" class="form-signin row g-3" style="margin: 5% 5% 10%;">
    <img src="../../../../assets/images/ETIYA.png" alt="Etiya" class="etiya-img" />

    <div class="col mb-20 form-floating">
      <img src="../../../../assets/images/User.png" alt="Email Icon" class="input-icon" />
      <div class="input-group">
        <input type="email" class="form-control" id="floatingEmail" placeholder="name@etiya.com" formControlName="email" />
      </div>
    </div>

    <div class="col mb-20 form-floating">
      <img src="../../../../assets/images/Lock.png" alt="Password Icon" class="input-icon" />
      <div class="input-group">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password"/>
      </div>
      <div *ngIf="hasError('password') || hasError('email')">
        <small class="text-danger">Wrong username or password.</small>
        <small class="text-danger">Please try again.</small>
      </div>
    
    </div>
    
    <a href [routerLink]="['/forgot-password']" class="forgot-password" >Forgot My Password</a>

    
    <div class="form-group row">
      <div class="col">
        <button class="btn btn-primary" type="submit" style="padding-bottom: 15px; padding-top: 8px;">LOGIN</button>
      </div>
    </div>
  </form>
</div>
