<body>
  <div class="container">
    <div class="in-container">
      <h3 class="title">Contact Medium</h3>

      <div class="input-group mb-3">
        <label for="email" style="color: #29294a; margin-right: 10px"
          >E-mail* :</label
        >
        <input id="email" [(ngModel)]="email" (input)="onInputChange()" />
        <div *ngIf="showError" class="error-message" style="color: red">
          {{ emailErrorMessage }}
        </div>
      </div>

      <div class="input-group mb-3">
        <label for="mobilePhone" style="color: #29294a; margin-right: 10px"
          >Mobile Phone* :</label
        >
        <input
          id="mobilePhone"
          [(ngModel)]="mobilePhone"
          (input)="onInputChange()"
        />
        <div *ngIf="showError" class="error-message" style="color: red">
          {{ mobilePhoneErrorMessage }}
        </div>
      </div>

      <div class="input-group mb-3">
        <label for="homePhone" style="color: #29294a; margin-right: 10px"
          >Home Phone :</label
        >
        <input
          id="homePhone"
          [(ngModel)]="homePhone"
          (input)="onInputChange()"
        />
      </div>

      <div class="input-group mb-3">
        <label for="fax" style="color: #29294a; margin-right: 10px"
          >Fax :</label
        >
        <input id="fax" [(ngModel)]="fax" (input)="onInputChange()" />
      </div>
    </div>

    <div class="buttons">
      <button type="button" [routerLink]="['/customer/address']">
        PREVIOUS
      </button>
      <button
        type="submit"
        [disabled]="!isNextEnabled"
        [ngStyle]="{
          'background-color': isNextEnabled ? '#29294a' : '#717171B2'
        }"
        (click)="next()"
      >
        NEXT
      </button>
    </div>
  </div>
</body>
