body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e4e3f5;
  overflow: hidden;
}

.container {
  max-width: 1400px;
  height: 600px;
  background: #B0AFC6;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 50px;
  margin-right: 100px;
  margin-bottom: 120px;
  margin-top: 0px;
  transform: scale(0.9);
  transform-origin: center;
  overflow: hidden;
}

.filters {
  width: 400px;
  height: 500px;
  background: #A1A0B4;
  border: 1px solid #BEBDCD;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center; 
  color: #1E3A8A; /* Lacivert renk için değiştirildi */
}

.results {
  width: 900px;
  height: 500px;
  background: #A1A0B4;
  border: 1px solid #BEBDCD;
  border-radius: 10px;
  overflow-y: auto;
  color: #1E3A8A; /* Lacivert renk için değiştirildi */
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

input {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #BEBDCD;
  height: 25px;
}

label {
  color: white;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:not(:disabled):hover {
  opacity: 0.9;
}

button:first-child {
  background: linear-gradient(90deg, #F80000 0%, #3B0000 100%);
  width: 100px;
  color: white;
}

button:last-child {
  background: #717171;
  width: 100px;
  color: white;
}

button:last-child:not(:disabled) {
  background: linear-gradient(135deg, #242441, #4a4a8d);
}

button:last-child:disabled {
  background: #717171;
  cursor: not-allowed;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  opacity: 1;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: white;
}

.table th {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.pagination .previousButton,
.pagination .nextButton {
  position: absolute;
  bottom: 40px;
  cursor: pointer;
  font-size: 16px;
  background: transparent !important;
  color: white !important;
}

.pagination .previousButton {
  left: 50%;
  transform: translateX(-50%);
}

.pagination .nextButton {
  left: 60%;
  transform: translateX(-50%);
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.filters h2, .results h2 {
  color: #1E3A8A;
  margin-bottom: 15px;
  text-align: center; 
  width: 100%; 
}
