<app-main-layout></app-main-layout>


<form [formGroup]="searchForm" (ngSubmit)="search()">
  <div class="container">
    <div class="filters">
      <label for="natId">Nationality Id</label>
      <input id="natId" formControlName="natId" />

      <label for="customerId">Customer Id</label>
      <input id="customerId" formControlName="customerId" />

      <label for="accNumber">Account Number</label>
      <input id="accNumber" formControlName="accNumber" />

      <label for="mobilePhone">GSM No</label>
      <input id="mobilePhone" formControlName="mobilePhone" />

      <label for="firstName">First Name</label>
      <input id="firstName" formControlName="firstName" />

      <label for="lastName">Last Name</label>
      <input id="lastName" formControlName="lastName" />

      <div class="buttons">
        <button type="button" (click)="clear()">CLEAR</button>
        <button type="submit" [disabled]="!isSearchEnabled">SEARCH</button>
      </div>
    </div>
    <div class="results">
      <div *ngIf="results.length === 0" style="text-align: center; font-size: larger; padding-top: 20px;">
        
      </div>
      <div *ngFor="let result of results">
        Please at least fill in one field to search.
        <!-- Display your result data here -->
        <strong>ID:</strong> {{ result.id }} <br>
        <strong>Name:</strong> {{ result.name }}
        <strong>Nat ID:{{result.natId}}</strong>
      </div>
    </div>
  </div>
</form>
