<app-main-layout></app-main-layout>
<div class="customer-address-container">
    <h2>Create Address</h2>
    <div class="form-container">
        <form [formGroup]="addressForm" (ngSubmit)="next()">
            <div class="form-group">
                <label for="city">City*</label>
                <select id="city" formControlName="city" (change)="onCityChange()" 
                        [ngClass]="{'error': addressForm.get('city')?.invalid && (addressForm.get('city')?.touched)}">
                    <option value="" disabled>Select a city</option>
                    <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
                </select>
                <div *ngIf="addressForm.get('city')?.invalid && (addressForm.get('city')?.touched)" class="error-message">
                    City cannot be empty.
                </div>
            </div>

            <div class="form-group">
                <label for="district">District*</label>
                <select id="district" formControlName="district" 
                        [disabled]="!addressForm.get('city')?.value" 
                        [ngClass]="{'error': addressForm.get('district')?.invalid && (addressForm.get('district')?.touched)}">
                    <option value="" disabled>Select a district</option>
                    <option *ngFor="let district of districts" [ngValue]="district">{{ district.name }}</option>
                </select>
                <div *ngIf="addressForm.get('district')?.invalid && (addressForm.get('district')?.touched)" class="error-message">
                    District cannot be empty.
                </div>
            </div>

            <div class="form-group">
                <label for="postal-code">Postal Code*</label>
                <input type="text" id="postal-code" formControlName="postalCode" 
                       [ngClass]="{'error': addressForm.get('postalCode')?.invalid && (addressForm.get('postalCode')?.touched)}">
                <div *ngIf="addressForm.get('postalCode')?.invalid && (addressForm.get('postalCode')?.touched)" class="error-message">
                    Postal Code cannot be empty.
                </div>
            </div>

            <div class="form-group">
                <label for="address-description">Address Description*</label>
                <textarea id="address-description" formControlName="addressDescription" 
                          [ngClass]="{'error': addressForm.get('addressDescription')?.invalid && (addressForm.get('addressDescription')?.touched)}"></textarea>
                <div *ngIf="addressForm.get('addressDescription')?.invalid && (addressForm.get('addressDescription')?.touched)" class="error-message">
                    Address Description cannot be empty.
                </div>
            </div>

            <div class="button-container">
                <button type="button" [routerLink]="['/customer/address']">Previous</button>
                <button type="submit" [disabled]="addressForm.invalid">Next</button>
            </div>
        </form>
    </div>
</div>
