/* You can add global styles to this file, and also import other style files */
/* global, component-based */
body,
html {
  background-color: #e4e3f5;
  margin: 0;
  padding: 0;
}

@import '../node_modules/ngx-toastr/toastr.css';