
.hv-100 {
    height: 100vh;
    display: flex;
    background: linear-gradient(to right, #2B2B56, #242441, #BEBDCD);
  }
  
  .logo-container {
    margin-right: 20px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-signin {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  
  .input-icon {
    position: absolute;
    left: 10px;
    top: 80%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
  
  }
  
  .form-floating {
    position: relative;
    padding-left: 50px;
    margin-bottom: 20px;
  }
  
  .form-label {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 500px; /* Giriş kutusunun üstünde durması için boşluk */
    /* Label'ın tam genişlikte görünmesi için */
  }
  
  
  
  .input-group {
    margin-top: 80px; /* Label ile input arasında biraz boşluk bırak */
  }
  label {
    color: white;
    transition: 0.2s; 
  }
  
  .etiya-img {
    margin-left: 180px;
    width: 311px; 
    height: 103px;
    top: 239px;
    left: 700px;
    gap: 0px;
    opacity: 0px;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
  }
  
  .forgot-password {
    display: block;
    color: white;
    margin-left: 30px;
    padding-bottom: 40px;
  }
  .btn {
    width: 210px; /* Buton genişliği */
    height: 40px; /* Buton yüksekliği */
    border-radius: 25px; /* Kenar yuvarlatma */
    padding: 10px 20px; /* İç boşluk */
    border: none; /* Kenar kaldırma */
    cursor: pointer; /* İmleç değişikliği */
    transition: background-color 0.3s; /* Renk geçişi */
}

/* SUBMIT butonunun pozisyonunu ayarlamak için */
.btn-primary {
    background-color: #242441; /* Mavi arka plan */
    color: white; /* Beyaz yazı rengi */
    position: relative; /* Pozisyonunu ayarla */
    right: -190px; /* Sağ tarafa kaydırma (değişiklik) */
}

.btn-success {
    background-color: #28a745; /* Yeşil arka plan */
    color: white; /* Beyaz yazı rengi */
    position: relative; /* Pozisyonunu ayarla */
    right: -190px; /* Sağ tarafa kaydırma (değişiklik) */
}

/* Disable durumu için CSS */
.btn:disabled {
    background-color: #d4edda; /* Disable durumundaki yeşil */
    color: #6c757d; /* Açık gri yazı rengi */
    cursor: not-allowed; /* Tıklanamaz imleç */
}

  .return-button {
  
    width: 210px; /* Sabit genişlik */
    height: 42px; /* Sabit yükseklik */
    position: absolute; /* Diğer öğelere göre konumlandırma */
    top: 550px; /* Dikey konum */
    left: 970px; 
    bottom: 400px;/* Yatay konum */
    padding: 5px 10px; /* İç boşluk */
    gap: 5px; /* Öğeler arasındaki boşluk */
    border-radius: 10px; /* Kenar yuvarlatma */
    opacity: 1; /* Başlangıçta görünmez */
    background: #F58220; /* Arka plan rengi */
    text-decoration: underline; 
    
  }
  