<div class="hv-100 d-flex justify-center align-items-center">
    <div class="logo-container">
      <img src="../../../../assets/images/Logo.png" alt="Logo" />
    </div>
  
    <form [formGroup]="form" (submit)="submitForm()" class="form-signin row g-3" style="margin: 5% 5% 10%;">
      <img src="../../../../assets/images/ETIYA.png" alt="Etiya" class="etiya-img" />
  
      <div class="col mb-20 form-floating">
        <img src="../../../../assets/images/User.png" alt="Email Icon" class="input-icon" />
        <label for="floatingUsername" class="form-label">Enter your username for reset :</label>
        <div class="input-group">
          <input type="text" class="form-control" id="floatingUsername" formControlName="username" [disabled]="submitted && isFormValid"/>
        </div>
        @if(hasError('username')) {
          <small class="text-danger">Wrong username.Please try again.</small>
        }
      </div>
  
      <button class="btn" 
      [ngClass]="submitted && isFormValid ? 'btn-success' : 'btn-primary'" 
      type="submit" 
      style="padding-bottom: 15px; padding-top: 8px;" 
      [disabled]="submitted && !isFormValid">
      <span *ngIf="submitted && isFormValid">✔️</span>
      <span *ngIf="!submitted || !isFormValid">SUBMIT</span>
  </button>
      <div class="col text-left" syle="margin-bottom:500px;">
        <a  href [routerLink]="['/login']"class="btn return-button" role="button" > ←RETURN TO LOGIN</a>  
    </div>
      
     
  
    </form>
  </div>
  